/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  margin:100px auto;
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  inline-size:max-content;
  min-inline-size: 320px;
  max-inline-size: 700px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--text-weight);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 100px;
  border: var(--border);
  padding-inline: clamp(14px, -23.5px + 10vw, 120.5px);
  padding-block: clamp(120px, 117.18px + 0.75vw, 128px);
  font-family: var(--accent-font);
  background-color: var(--main-color);
  max-inline-size: var(--inline-size);
}

.header__logo {
  font-weight: var(--accent-text-weight);
  font-size: clamp(49px, 43.37px + 1.5vw, 65px);
}

.header__title {
  font-weight: var(--accent-text-weight);
  font-size: clamp(14px, 10.83px + 0.85vw, 23px);
  text-align: center;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  inline-size: max-content;
}

.content__card {
  display: grid;
  border: var(--border);
  background-color: var(--main-color);
  inline-size: var(--inline-size);
}
.content__card-title {
  padding: 4px 10px;
  font-size: 18px;
  line-height: 22px;
  font-variation-settings: "wght" var(--title-weight);
}

.content__card-image-wrapper {
  position: relative;
  border-block-start: var(--border);
  border-block-end: var(--border);
}

.content__card-image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow: -1px 0 var(--stroke-color), 0 1px var(--stroke-color),
    1px 0 var(--stroke-color), 0 -1px var(--stroke-color);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--stroke-color)) or
    (-webkit-text-stroke: 1px var(--stroke-color))
) {
  .content__card-image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
  }
}

.content__card-image {
  display: block;
  object-fit: cover;
  object-position:center;
  max-inline-size: 100%;
  aspect-ratio: 1/1;
}

.zero-sprint-image{
  filter:grayscale(1) contrast(1.7);
}

.first-sprint-start-image{
  filter:saturate(4);
}

.first-sprint-end-image{
  filter:invert(1);
}

.second-sprint-start-image{
  filter:hue-rotate(-30deg);
}

.second-sprint-end-image{
  filter: contrast(2);
}

.third-sprint-start-image{
  filter: blur(5px);
}

.third-sprint-end-image{
  filter:brightness(150%);
}

.four-sprint-image{
  filter: sepia(0.7);
}

.content__card-body {
  display: grid;
  gap: 25px;
  padding: 25px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 7px;
}

.card__like-button {
  justify-self: end;
  padding: 11px 35px 9px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  border: 2px solid transparent;
  padding: 0;
  background-color: var(--button-color);
  transition: border-color 0.3s ease;
  inline-size: 38px;
  block-size: 38px;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
  transition: border-color 0.3s ease;
}

.save__button {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px;
}

.save__dialog[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 28px 20px;
  border: var(--border);
  padding: 28px;
  max-inline-size: 353px;
}

.save__dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.save__dialog-text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.close-button {
  grid-column: span 2;
  padding: 10px 0;
  text-transform: uppercase;
}

.button__text {
  color: var(--button-color);
  mix-blend-mode: difference;
}

.button {
  position: relative;
  border: var(--border);
  overflow: hidden;
  font-family: var(--accent-font);
  font-size: 14px;
  background-color: var(--button-color);
  transition: box-shadow 0.3s linear;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow 0.3s linear;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  transform: translateX(0);
}

.floppy-icon {
  color: var(--button-color);
  mix-blend-mode: difference;
}

@media (width <= 375px) {
  .save__dialog {
    padding-inline: 38px;
    max-inline-size: 341px;
  }
  .save__button {
    flex-direction: column;
  }
  .floppy-icon {
    width: 28px;
    height: 28px;
  }
}
