/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  max-inline-size: 700px;
  min-block-size: 100dvb;
  font-family: var(--main-font,sans-serif);
  font-variation-settings: "wght" var(--text-weight);
  font-size: 18px;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin:100px auto;
}

.header{
  display:flex;
  flex-direction: column;
  gap:20px;
  font-family: var(--accent-font);
  inline-size: var(--inline-size);
  background-color: #fff;
  border:2px solid #000;
  padding-block: clamp(120px, 117.18px + 0.75vw, 128px);
  padding-inline: clamp(14px, -23.50px + 10.00vw, 120.5px);
  margin-bottom:100px;
}

.header__logo{
  font-size: clamp(49px, 43.37px + 1.50vw, 65px);
  font-weight: 400;
}

.header__title{
  text-align: center;
  font-size: clamp(14px, 10.83px + 0.85vw, 23px);
  text-transform:uppercase;
  font-weight: 400;
}

.content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap:50px;
}

.content__card {
  display:grid;
  inline-size: var(--inline-size);
  background-color: #fff;
  border:2px solid #000;
}
.content__card-title {
  font-variation-settings: "wght" var(--title-weight);
  font-size:18px;
  padding: 4px 10px;
  line-height: 22px;
  
}

.content__card-image-wrapper{
  border-block-start:2px solid #000;
  border-block-end:2px solid #000;
}

.content__card-image {
  max-inline-size: 100%;
  display:block;
  object-fit: cover;
  aspect-ratio:1/1;
}  

.content__card-body{
  display: grid;
  padding:25px;
  gap:25px;
}

.card__buttons{
  display:flex;
  justify-content: end;
  align-items: center;
  gap:12px;
}

.card__like-button {
  background-color: transparent;
  justify-self: end;
  padding:11px 35px 9px;
  font-family: var(--accent-font);
  font-size:14px;
}

.card__icon-button{
  background-color: transparent;
  border:none;
  padding:3px 0 0;
}

